*{
    margin:0;
    padding:0;
}
.header{
    display:flex;
    color: white;
    /* display:grid; */
    width:100%;
    height:80px;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    margin-bottom: 80px;
}   

.sidtext{
    display: flex;
    width:30%;
    justify-content: space-around;
}   
ul>li{
    display: inline;
    margin:20px 20px 20px 20px; 
}
.main_con{
    display: grid;
    background-color: bisque;
    width:100%;
    height:500px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    place-items: center;
    margin-bottom: 60px;
}
.item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    align-items: center;
}
.new{
    color: black;
    font-size: small;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.a{
    font-size:40px;
    font-weight: bold;
    font-size: 50px;
    color: rgb(115, 83, 42);
}
.main_text{
    font-family:Georgia, 'Times New Roman', Times, serif ;
   
    color: white;
    margin-bottom: 90px;
}
.item{
    width:50%;
    height:80%;
    background-color: rgb(242, 244, 224);
    place-items: center;
    border-radius: 50px;
}
.img1{
    object-fit: cover;
    width: 100%; 
    height: 100%;
    border-radius: 10%;
}
.center{
   color:rgb(100, 65, 21);
    width:100%;
    height: 50px;
    justify-items: center;
    margin-bottom: 40px;
}
.window{
    display:grid;
    background-color: bisque;
    width:100%;
    height: 500px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
    margin-bottom: 50px;
}
.item_win{
    background-color: rgb(177, 140, 92);
    width: 95%;
    height: 95%;
}
.button{
    display: flex;
    width:100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#Button{
    width:100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(178, 136, 38);
    color: rgb(0, 0, 0);
    outline: none;
}