*{
    margin:0;
    padding:0;
}   
main{
    width:100%;
    height:80vh;
    background-color: aqua;
    display:flex;
    place-items: center;
    justify-content: center;
}
.head{
    display: flex;
    width:100%;
   justify-content: center;
   align-items: center;
   background-color: black;
}
.head-top{
    color:antiquewhite;
    font-size: 60px;
}
.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width:30%;
    height: 65%;
    border-radius: 10px solid black;
    background-color: black;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
.item{
    border-radius: 5px;
    width:90%;
    height: 85%;
    background-color: bisque;
    column-gap: 50px;
}
.player{
    display:flex;
    width:100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
#Player{
    font-size:40px;
    margin-bottom: 120px;
    
}
.button{
    display:flex;
    height: 4vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.Button{
    color:black;
    width: 100px;
    height: 30px;
    border-radius: 9px;
    background-color: cornflowerblue;
}